/* rgba(126, 213, 111, 0.8),
rgba(40, 180, 131, 0.8)), */

h1{
    margin:0;
    background: linear-gradient(
        to right bottom,
        rgba(48, 5, 238, 0.8),
        rgba(231, 9, 165, 0.8));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 2.7rem;
        animation-name: moveInLeft;  /* calls the animation we defined below */
        animation-duration: 3s;
        
        /* animation-delay: 3s; 
        animation-timing-function: ease-in;  - it will start slower
        animation-iteration-count: 3;  how many times animation will play  */
        
    }
    

/* we definve animation here: opacity means it will appear from nothing. transtorm
translatex means it will move on x axis. */
@keyframes moveInLeft{
    0%{ /*0% means the starting point of the animation*/
        opacity: 0;
        transform: translateX(-10rem);
        /* transform: rotate(180deg); - it rotates the text */
    }
    50%{ /* moves too much to the right */
        transform: translateX(2rem);
    }  /*then goes back left to the center*/
    100%{   /* 100% means the end of the animation*/
        opacity: 1;
        transform: translateX(0);
    }
}
