<!-- <div class="heading-primary">
    <h1> -->
<!-- We use span because we have 2 elements we would like to write in the h1 element -->
<!-- <span class="heading-primary-main">Outdoors</span>
        <span class="heading-primary-sub">is where life happens</span>
    </h1>
</div> -->
<div class="heading-primary">
    <div class="heading-primary-main">
        <app-heading-primary-main></app-heading-primary-main>
    </div>
    <div class="heading-primary-sub">
        <app-heading-primary-sub></app-heading-primary-sub>
    </div>
</div>